{% extends "accounts/base.html" %} 
{% load static %}
{% block main %}
<!-- About-->
  <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">¿Quienes somos?</h2>
            <h3 class="section-subheading text-muted">Somos un equipo de expertos en análisis de datos comprometidos en ayudarte a tomar decisiones informadas basadas en evidencia.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'accounts/assets/img/about/1.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2009-2011</h4>
                        <h4 class="subheading">Inicio </h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Comenzamos con la misión de democratizar el análisis de datos para empresas de todos los tamaños.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'accounts/assets/img/about/2.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Marzo 2011</h4>
                        <h4 class="subheading">Primeros logros</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Implementamos soluciones de datos para empresas locales, logrando un impacto tangible.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'accounts/assets/img/about/3.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Deciembre 2015</h4>
                        <h4 class="subheading">Crecimiento</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Expandimos nuestro equipo y nuestra cartera de clientes a nivel nacional</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'accounts/assets/img/about/4.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Julio 2020</h4>
                        <h4 class="subheading">Innovación constante</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Adoptamos las últimas tecnologías en análisis de datos, inteligencia artificial y visualización para ofrecer soluciones innovadoras que se adaptan a las necesidades cambiantes de nuestros clientes.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
{% endblock main %}  