{% extends "accounts/home.html" %} 
{% load static %}
{% block title %} Form desarrollador {% endblock title %}
{% block main %}

<form action="{% url 'form_desarrollador' %}" method="post">
    {% csrf_token %}
    <p>Nombre: <input type="text" name="nombre"></p>
    <p>Apellido: <input type="text" name="apellido"></p>
    <p>Email: <input type="email" name="email"></p>
    <p>Rol: <input type="text" name="rol"></p>
    <p>Proyecto: <input type="text" name="proyecto"></p>

    <input type="submit" name="Enviar">
</form>
{% endblock main %} 