{% extends 'accounts/home.html' %}
{% load static %}
{% block title %}Proyecto  List {% endblock title %}
{% block main %}

<div class="row"> "C:\Users\decim\OneDrive\Desktop\Repositorio Git\myproject\media"
    {% for proyecto in object_list %}
        <div class="card" style="width: 18rem;" >
            <img src="{% static 'accounts/assets/img/avatar.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Nombre del proyecto: {{ proyecto.nombre_proyecto }}</h5>
            <p class="card-text">cliente: {{ proyecto.cliente }}</p>
            <a href="{% url 'ProyectoDetail' proyecto.id %}" class="btn btn-primary">Ver</a>
            <a href="{% url 'ProyectoUpdate' proyecto.id %}" class="btn btn-primary">Editar</a>
            <a href="{% url 'ProyectoDelete' proyecto.id %}" class="btn btn-primary">Borrar</a>
            </div>
        </div>
    {% empty %} 
        <p>No hay proyectos disponibles.</p> 
    {% endfor %}
</div>

<a class="btn btn-primary btn-xl rounded-pill mt-5" href="{% url 'ProyectoCreate' %}">Agregar nuevo</a>

{% endblock main %}