{% extends "accounts/base.html" %} 
{% load static %}
{% block main %}
  <!-- Team-->
  <section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
            <h3 class="section-subheading text-muted">Conoce a los expertos que hacen posible nuestro trabajo.</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'accounts/assets/img/team/1.jpg' %}" alt="..." />
                    <h4>Carlos García</h4>
                    <p class="text-muted">Ingeniero de Datos</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'accounts/assets/img/team/2.jpg' %}" alt="..." />
                    <h4>Diana Petersen</h4>
                    <p class="text-muted">Analista de Datos Senior</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{% static 'accounts/assets/img/team/3.jpg'%}" alt="..." />
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Diseñadora de Dashboards</p>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Somos un grupo multidisciplinario de especialistas apasionados por convertir datos en información valiosa. Nuestro equipo combina experiencia en análisis estadístico, ingeniería de datos y diseño visual para ofrecer soluciones personalizadas a las necesidades de cada cliente. Trabajamos juntos para impulsar decisiones estratégicas basadas en datos, asegurándonos de que cada proyecto tenga un impacto real y tangible.</p></div>
        </div>
    </div>
</section>
<!-- Clients-->
<div class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'accounts/assets/img/logos/microsoft.svg' %}" alt="..." aria-label="Microsoft Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'accounts/assets/img/logos/google.svg' %}" alt="..." aria-label="Google Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'accounts/assets/img/logos/facebook.svg'%}" alt="..." aria-label="Facebook Logo" /></a>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <a href="#!"><img class="img-fluid img-brand d-block mx-auto" src="{% static 'accounts/assets/img/logos/ibm.svg'%}" alt="..." aria-label="IBM Logo" /></a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}  